# Python
__pycache__/
*.py[cod]
.venv/
venv/

# YOLO datasets
data/afo_small/
data/raw/

# YOLO training/inference outputs
runs/
results/

# Model weights / engines
yolo11n.pt
yolov8n.pt
*.engine

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db